.main {
  padding: 90px 0 0;
  transition: all 0.2s ease;
}
.main.active{
  padding-left: 200px;
}
.top-header .MuiPaper-root{
  transform: translate(0, 0);
  transition: all 0.2s ease;
}
.top-header.active .MuiPaper-root{
  transform: translate(200px, 0);
}
.MuiDrawer-root{
  position: fixed;
  left:0;
  height:100%;
  overflow: auto;
  top:0;
}
.MuiDrawer-root.active{
  z-index: 99999;
}